[Unit]
Description=Daphne service for {{PROJECT_NAME}}
After=network.target

[Service]
User={{USER}}
Group=www-data
WorkingDirectory={{PROJECT_DIR}}
ExecStart={{PROJECT_DIR}}/venv/bin/daphne -u {{PROJECT_DIR}}/daphne.sock config.asgi:application

[Install]
WantedBy=multi-user.target
